.search-price{
	margin-top: 6px;
}
.button-filter{
	margin-top: 5%;
}
.search-left,.search-right{
	width: 36%;
	height: 45px;
	border: 1px solid rgba(196, 196, 196, 0.9);
	box-sizing: border-box;
	border-radius: 5px;
	padding-left: 5%;
}
.search-mid{
	width: 6%;
	border: 1px solid rgba(0, 0, 0, 0.35);
	margin: 5% 0;
	text-align: left;
	height: 0;
}
.item-prices{
	color: #595959;
}