.products{
	padding: 2% 2% 3% 2%;
	text-align: center;
	border: 1px solid rgba(196, 196, 196, 0.9);
	margin: 2px 1px;
}
.image{
	width: 100%;
}
.image img{
	height: 100%;
}
.price,.title{
	margin-top: 2%;
	font-family: Roboto, Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.order{
	margin-top: 4%;
}
.price{
	font-size: 16px;
	font-weight: 600;
}