.sort-content{
	margin-top: 6%;
}
.sort{
	width: 95%;
	height: 45px;
	border: 1px solid rgba(196, 196, 196, 0.9);
	box-sizing: border-box;
	border-radius: 5px;
	margin: 0 auto;
	padding-left: 5%;
	font-size: 18px;
}